* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #116c43;
  text-align: center;
  font-size: 3.45rem ;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #040404; 
  background-color: #f1f13a;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

#reset-btn {
  padding: 1rem;
  font-size: 2.25rem;
  background-color:#f1f13a ;
  color: #040404;
  border-radius: 1rem;
  border: none;
  justify-content: right;
}

#new-btn {
  padding: 1rem;
  font-size: 2.25rem;
  background-color:#f1f13a ;
  color:#040404 ;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #2fd9f0;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}